@import 'config';

.order-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: auto;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 470px;

        input {
            margin-bottom: 20px;
            width: 100%;
            height: 30px;
            border: 1px solid;
            border-radius: 5px;
            font-family: 'Macondo', cursive;
        }

        .shipment {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 300px;

                &-option {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 300px;
                    height: 50px;
                    margin-top: 20px;
                    border: 2px solid black;
                    border-radius: 5px;

                    label {
                        margin-left: 15px;

                        span {
                            margin-left: 10px;
                        }
                    }
                    input {
                        margin: 0;
                        width: 30px;
                        height: 30px;
                        margin-right: 15px;
                    }
                }
                }
    }
 }