@import 'config';

.product--page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;
    top: 94px;

    .product--details {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;

        .images {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .other_image {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 289px;
                margin-right: 15px;
                margin-left: 5px;

                .additional_images {
                    cursor: pointer;
                    height: 50px;
                    width: 100%;
                    border: none;
                    padding: 0;

                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 5px;
                    }
                }
            }

            .watched_picture {
                position: relative;
                height: 288px;
                width: 177px;
                margin-right: 20px;
                border-radius: 5px;
            }
        }
        .status {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: 10px;

        &--title {
            position: relative;
            padding: 0;
            font-weight: bold;
            font-size: 1.5rem;
        }

        &--price {
            position: relative;
            padding: 0;
            margin-top: 0;
            font-size: 1.2rem;
        }

        &--availability {
           position: relative;
           padding: 0;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: fit-content;
            width: fit-content;

            .item-quantity {
                display: flex;
                flex-direction: row;

                input {
                    width: 25px;
                    height: 25px;
                    margin-left: 3px;
                    margin-right: 3px;
                    margin-bottom: 5px;
                }

                button {
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                }
            }
        }

        button {
           cursor: pointer;
           position: relative;
           display: flex;
           justify-content: center;
           align-items: center;
           text-align: center;
           border: none;
           font-family: 'Macondo', cursive;

           height: 40px;
           width: 160px;
           background: $secondary-color;
           color: white;
        }
        }
    }

    .description {
        position: relative;
        min-height: 241px;
        width: 100%;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        overflow: auto;
    }

    p {
        padding-left: 20px;
    }
}
