@import 'config';

.summary-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 95px;
    background: $background-color;
}