@import 'config';
@import 'header';
@import 'footer';
@import 'main_section';
@import 'products';
@import 'product_page';
@import 'register';
@import 'login';
@import 'remind_password';
@import 'forgot_password';
@import 'edit_profile';
@import 'my_order_card';
@import 'my_orders_page';
@import 'cart_page';
@import 'cart';
@import 'custom_alert';
@import 'order';
@import 'summary';
@import 'summary_page';
@import './responsive/responsive_header';
@import './responsive/responsive_main_section';
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

html {
    height: 100vh;
}

body{
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    font-family: 'Macondo', cursive;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    max-width: 100%;
}

a {
    cursor: pointer !important;
    text-decoration: none !important;
}
