@include media-md {
    .product--page {
        top: 91px;
        width: 82%;
        left: 18%;
    }
}

@include media-lg {
    .product--page {
        top: 96px;
        height: 87vh;
        left: 9%;
        width: 91%;

        .product--details {
            height: 510px;
            justify-content: space-evenly;

            img {
                height: 500px;
                width: 450px;

                .status {
                    font-size: 1.5rem;

                    &--title {
                        font-size: 2.5rem;
                    }

                    &--price {
                        font-size: 2.2rem;
                    }

                    form {
                        button {
                            height: 60px;
                            width: 210px;
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}
