@include media-md {
    .main-section {
        width: 81.7%;
        left: 18.2%;
        height: 93vh;

        .discounts__container {
         height: 464px;
     }
    }
}

@include media-lg {
    .main-section {
        width: 90.8%;
        left: 9.2%;
        height: 94vh;

        .discounts__container {
         height: 630px;
         width: 70%;

         img {
            border-radius: 5px;
         }
     }
    }
}
