@include media-md {
    .register-section {
        left: 18%;
        width: 82%;

        h1 {
            display: inline-block;
            font-size: 3rem;
        }
    }
}

@include media-lg {
    .register-section {
        left: 0;
        width: 100%;
    }
}