@include media-md {
    .products-section {
        left: 18%;
        width: 82%;
        top: 158px;

        .filters-container {
            left: 18%;
            width: 82%;

        }

        .products-container {
            height: 1220px;
        }
    }
}

@include media-lg {
    .products-section {
        left: 9%;
        width: 91%;
        top: 148px;

        .filters-container {
            left: 9%;
            top: 12.5%;
            width: 91%;
            justify-content: space-evenly;

            &__price-filter {
                position: relative;
                top: 0;
                bottom: 0;
            }

            &__availability-filter {
                position: relative;
                top: 0;
            }

            form {
                flex-direction: row;

                select {
                    margin-left: 5px;
                }
            }
        }

        .products-container {
            grid-template-columns: 200px 200px 200px 200px;
            grid-template-rows: 300px;
            height: 702px;

            .card {
                height: 300px;
                width: 200px;
            }
        }
    }
}
