:root {
    --primary: #2C6E49;
    --secondary: #6F3A34;
}


body {
    background: white;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    
    header {
        display: flex;
        flex-direction: row;
        border-bottom: 5px solid;
        margin: 0 auto;
        background-color: var(--primary);
    }

    header > h1 {
        margin: 0;
        width: 250px;
    }

    .search-engine {
        display: block;
        text-align: center;
        justify-content: center;
        padding: 15px;
    }

    .search-engine input[type="text"] {
        margin: 0 auto;
        width: 50px;
        border: 2px solid black;
        border-radius: 5px;
    }

    .login-panel {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 120px;
        top: 80px;
        text-align: center;
        border-bottom-right-radius: 5px;
        background-color: var(--secondary);
    }

    .login-panel > a {
        padding-bottom: 10px;
    }

    .hamburger--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 125px;
    }

    .hamburger {
        height: 10px;
        width: 50px;
        border: 1px solid black;
        background-color: var(--secondary);
        margin: 2px;
    }
}