@import 'config';

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    width: 360px;
    height: 30px;
    left: 0px;
    bottom: 0;
    font-size: 1rem;
    background: #755516;

    a {
        cursor: pointer;
        text-decoration: none;
        padding: 10px;
        color: black;

        &:hover {
            @include transition-ease;
            color: #0F9F49;
        }
    }
}