@import 'config';

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 30px;
    bottom: 0;
    z-index: 1;
    font-size: 1rem;
    background: $secondary-color;
    color: white;

    a {
        padding-right: 10px;
        padding-left: 10px;
        color: white;

        &:hover {
            @include transition-ease;
            color: $primary-color;
        }
    }
}
